
@mixin titleStyle{
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;

}
@mixin textStyle{
  font-size: 0.8rem;
  margin: 0 30px;
  text-align: left;
  padding: 0;

}
.benefits__menu {
  background: #F7F7F7 0% 0% no-repeat padding-box;
  padding: 100px 0;
  width: 100%;

}

.menu__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 320px) and (max-width: 1024px) {
  }
  }


.menu__1{
  width: 1000px;
  height: 350px;
  background-color: white;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items:center;


  @media (min-width: 320px) and (max-width:870px) {
    display: unset;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    display: flex;
  }
}
.menu__description{

  padding-top: 30px;
}
.menu__title{

  text-align: left;
  font: normal normal normal 36px/42px Raleway;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 30px;
  margin-top: 0px;

  @media (min-width: 320px) and (max-width: 870px) {
   @include titleStyle;
  }
}

.menu__text{
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  max-width: 400px;
  padding-left: 30px;
  margin-top: 40px;
  @media (min-width: 320px) and (max-width: 870px) {
  @include textStyle;
  }


}
.menu__text:after{
  content: "";
  background:4px #FB3B64;
  opacity: 1;
  max-width: 400px;
  height: 4px;
  width: auto;
  display: block;
  margin-top: 20px ;


}
.macbook__image{
  position: relative;
  &:before {
    content: "";
    background: #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    bottom: 25%;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    @media (min-width: 320px) and (max-width: 870px) {
     max-width: 35%;
      max-height: 150px;


    }

    @media (min-width: 768px) and (max-width: 1024px) {
     left: 55%;
    }
  }
}


.macbook__image img{
  position: relative;

  @media (min-width: 320px) and (max-width: 870px) {
    max-width: 75%;
    height: auto;
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}





.menu__2{
  margin: 50px 0;
  width: 1000px;
  height: 350px;
  background-color: white;
  text-align: left;
  display: flex;
  @media (min-width: 320px) and (max-width: 870px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: row;
  }
}

.menu__description__2{
  padding-top: 30px;

}
.menu__text__2{
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  max-width: 400px;
  padding-left: 30px;
  height: 100px;
  margin-top: 40px;
  @media (min-width: 320px) and (max-width: 870px) {
    @include textStyle;
  }
}
.menu__text__2::after{
  content: "";
  background: 4px #08A6E4;
  opacity: 1;
  max-width: 400px;
  height: 4px;
  display: block;
  margin-top: 20px ;

}

.menu__title__2{

  text-align: left;
  font: normal normal normal 36px/42px Raleway;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 25px;
  margin-top: 70px;

  @media (min-width: 320px) and (max-width: 870px) {
      @include titleStyle;
    }
  }



.i__phone {
  position: relative;
  margin-left: 40px;
  margin-top: 15px;

  &:before {
    content: "";
    background: #07ACE6 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    position: absolute;
    @media (min-width: 320px) and (max-width: 870px) {
      max-width: 220px;
      max-height: 220px;
      border-radius: 50%;

    }
  }
}
.i__phone img {
  position: relative;
  @media (min-width: 320px) and (max-width: 870px) {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}



.menu__3{
  width: 550px;
  height: 370px;
  background-color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-right: 450px;
  @media (min-width: 320px) and (max-width: 870px) {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
    background-color: white;

  }
  @media (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: row;

  }
}
.menu__description__3{
  padding-top: 30px;
}
.menu__title__3{
  text-align: left;
  font: normal normal normal 36px/42px Raleway;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 30px;
  width: 400px;
  margin-top: 70px;

  @media (min-width: 320px) and (max-width: 870px) {
    @include titleStyle;
    max-width: 350px;
    text-align: left;
    margin-left: 30px;
  }
}
.menu__text__3{
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  max-width: 400px;
  margin-top: 20px;
  padding-left: 30px;

  @media (min-width: 320px) and (max-width: 870px) {
    @include textStyle;
    max-width: 400px;
  }
  &:after{
    content: "";
    background:4px #55DFB4;
    opacity: 1;
    max-width: 400px;
    height: 4px;
    display: block;
    margin-top: 20px ;
    @media (min-width: 320px) and (max-width: 870px) {
      font-size: 0.5rem;
      background: none;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      background:4px #55DFB4;

    }
    }

}

.trumpet__square{
  position: relative;
  width: 100%;
  height: 100%;
}

.Trumpet__1{
  &:before{
    content: "";
    position: absolute;
    background: #55DFB4 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    width: 400px;
    height: 370px;
    margin-left: 200px;
    margin-bottom: 50px;


    @media (min-width: 320px) and (max-width: 870px) {
      margin: auto;
      width: 100%;
      height: 100%;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      height: 370px;

    }
  }
}

.Trumpet__1 img {
  padding-left: 120px;
  padding-top: 110px;
  position: relative;
  margin-left: 150px;
  @media (min-width: 320px) and (max-width: 870px) {
    padding-left: 15px;
    margin: auto;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  }
  }

