.boxes__header{
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-top: 10px;
  @media (min-width: 320px) and (max-width: 870px) {
  font-size: 1.3rem;
    margin-top: 30px;
  }


  }
.boxes{
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__title{
  font: normal normal 800 20px/24px Raleway;
  letter-spacing: 6px;
  color: #000000;
  opacity: 1;
  @media (min-width: 320px) and (max-width: 870px) {

    font-size: 1.2em;


  }
  }
.box__content{

  font: normal normal normal 17px/20px Raleway;
  letter-spacing: 0px;
  color: #A5A5A5;
  opacity: 1;
  @media (min-width: 320px) and (max-width: 870px) {
    font-size: 1em;

  }
}

.box__general__1{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box__general__2{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.box__general__3{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}


.box__background__1 {
  background: #FB3B64 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
  @media (min-width: 320px) and (max-width: 870px) {
    border-radius: 50%;
    width: 53px;
    height: 53px;
}
}
.box__1{
  z-index: 1;
  position: absolute;
  @media (min-width: 320px) and (max-width: 870px) {
    width: 80px;
    height: 40px;
    padding-right: 35px;
  }
}
.box__background__2 {
  background: #08A6E4 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
  padding-top: 10px;
  @media (min-width: 320px) and (max-width: 870px) {
    border-radius: 50%;
    width: 53px;
    height: 53px;
  }
}

.box__2{
  z-index: 1;
  position: absolute;
  @media (min-width: 320px) and (max-width: 870px) {
    width: 85px;
    height: 45px;
    padding-right: 35px;
    padding-bottom: 10px;
  }
}


.box__background__3{
  background: #55DFB4 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
  padding-top: 4px;
  @media (min-width: 320px) and (max-width: 870px) {
    border-radius: 50%;
    width: 53px;
    height: 53px;
  }
}
.box__3{
  z-index: 1;
  position: absolute;
  @media (min-width: 320px) and (max-width: 870px) {
    width: 80px;
    height: 40px;
    padding-right: 35px;
  }
}
