
*{
  @media (min-width: 320px) and (max-width: 1024px) {
    margin:auto;
  }
}


body, html{
  @media (min-width: 320px) and (max-width: 1024px) {
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
  }
}


.contact__container{
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  @media (min-width: 320px) and (max-width: 870px) {
    display: flex ;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  @media (min-width: 1024px) and (max-width: 1366px) {
margin-right: 150px;
  }
  }


.contact__box{
  padding-top: 100px;
  width: 50%;
  @media (min-width: 320px) and (max-width: 870px) {
    max-width: 100%;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
  margin-right: 350px;
  }

}


.contact__header{
  text-align: left;
  font: normal normal normal 49px/57px Raleway;
  color: #000000;
  opacity: 1;
  margin-bottom:90px;
  margin-top: 80px;
  padding-left: 15px;
  @media (min-width: 320px) and (max-width: 870px) {
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
  }

}
.contact__text2{
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 15px;
  @media (min-width: 320px) and (max-width: 870px) {
    text-align: center;


  }
  @media (min-width: 1024px) and (max-width: 1366px) {
  width: 300px;
  }

}
.contact__images{
  display: flex;
  @media (min-width: 320px) and (max-width: 870px) {
    padding-top: 40px;
  }
}
.phone{
  margin-right: 20px;
  margin-left: 20px;
  @media (min-width: 320px) and (max-width: 870px) {
  }
}
.mail{
  margin-right: 20px;
  margin-left: 20px;
  @media (min-width: 320px) and (max-width: 870px) {
margin-left: 60px;
  }
}
.contact__images__2{
  display: flex;
  @media (min-width: 320px) and (max-width: 870px) {
  }
}
.contact__box{

  padding-left: 400px;
  @media (min-width: 320px) and (max-width: 870px) {
    width: 100%;
    padding: 0;
    margin: 0;

  }

}


.contact__all__images{
  display: flex;
  @media (min-width: 320px) and (max-width: 870px) {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
  }
}
.contact__column{

  margin-top: 190px;
  @media (min-width: 320px) and (max-width: 870px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
  }


}
.contact__images__text {
  color:#A5A5A5 ;
  font-weight: 700;

  @media (min-width: 320px) and (max-width: 870px) {
    margin-top: 5px;
  }

  }
.contact__images__text__2{
  color:#A5A5A5 ;
  font-weight: 700;
  @media (min-width: 320px) and (max-width: 870px) {
    margin-top: 10px;
    float: left;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    width: 300px;
  }
  }
.column__name{
  padding-bottom: 10px;
  @media (min-width: 320px) and (max-width: 870px) {
    margin-left: 40px;
  }
}
.checkbox__text{
  border: none;
  border-bottom: 1px solid #95989A;
  opacity: 1;
  width: 320px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;

  @media (min-width: 320px) and (max-width: 870px) {
  }
}

.checkbox__text__2{
  border:none;
  border-bottom: 1px solid #95989A;
  opacity: 1;
  width: 390px;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  @media (min-width: 320px) and (max-width: 870px) {
    padding-bottom: 10px;
  }
}

.checkbox{
  display: flex;
  text-align: left;
  font: normal normal bold 11px/15px Open Sans;
  letter-spacing: 3.28px;
  color: #08A6E4;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
  @media (min-width: 320px) and (max-width: 870px) {
    margin: 0 50px;
    font-size: 0.5em;
    margin-top: 20px;
    margin-right: 10px;
  }
}
.checkbox__2{
  display: flex;
  text-align: left;
  font: normal normal bold 11px/15px Open Sans;
  letter-spacing: 3.28px;
  color: #08A6E4;
  opacity: 1;
  position: relative;
  font-family: 'Raleway', sans-serif;
  @media (min-width: 320px) and (max-width: 870px) {
    margin: 0 50px;
    font-size: 0.5em;
    margin-top: 20px;
    margin-right: 10px;
  }
}
.checkbox__3 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}
.checkbox__3 {
  cursor: pointer;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 400px;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  @media (min-width: 320px) and (max-width: 870px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 300px;
    font-size: 0.5em;
  }
}


.checkbox__3 span {
  height: 24px;
  flex-basis: 120px;
  margin-right: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #95989A;
  border-radius: 4px;
  cursor: pointer;

}

.checkbox__3 input:checked + span {
  background-image: url("../../images/Checkmark.svg");
  background-position: center;

}
.column__form{
  width: 100%;
  @media (min-width: 320px) and (max-width: 870px) {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

}
.btn__checkbox{
  @media (min-width: 320px) and (max-width: 870px) {
    margin: 50px 100px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center ;
  }
}

